<html>
<head></head>
<body>
<form action="http://<%=bucketName%>.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="imageInput">
</form>
<script>

//  document.getElementById("imageInput").addEventListener("change",uploadImage);
//
//  function readUploadedJson(e,callback) {
//    const reader = new FileReader()
//    reader.onload = function(loadEvent) {
//      callback(JSON.parse(reader.result))
//
//    };
//    if(e.target.files.length == 1) {
//      reader.readAsText(e.target.files[0]);
//    }
//  }
//
//  function readUploadedSchemas(e) {
//    readUploadedJson(e,theSchema=>{
//      let currTables=vm.tables().map((table)=>table.name)
//      let allTables=Object.keys(theSchema)
//        .filter(table=>!currTables.includes(table))
//        .concat(currTables)
//      console.log('Loaded tables. Tables are now: ',allTables)
//      vm.tables(allTables.map(table=>makeNewTableObject(table)))
//    })}
</script>
</body>
</html>